<span class="breadcrumb__title"></span>
<nav class="breadcrumb" aria-label="Breadcrumb" style="display: inline;">
  <ol
    class="breadcrumb__list"
    style="display: block; list-style: outside none none;"
  >
    <li class="breadcrumb__list__item" style="display: inline;">
      <a class="breadcrumb__link" href="/">Home</a>
    </li>
    <span
      class="breadcrumb__separator"
      style="display: inline-block; font-size: 16pt; margin: 0px 0.25em;"
      >/</span
    >
    <li class="breadcrumb__list__item" style="display: inline;">
      <span class="breadcrumb__link__disabled">Books</span>
    </li>
    <span
      class="breadcrumb__separator"
      style="display: inline-block; font-size: 16pt; margin: 0px 0.25em;"
      >/</span
    >
    <li class="breadcrumb__list__item" style="display: inline;">
      <a
        aria-current="page"
        class="breadcrumb__link breadcrumb__link__active"
        href="/book/919c102c-3981-5778-b335-e70cd60001f5"
        >The Way of Kings</a
      >
    </li>
  </ol>
</nav>
